<!doctype html>
<html lang="en" ng-app="timerApp">
<head>
    <meta charset="utf-8">
    <title>TIMER</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="assets/app.js"></script>
</head>
<body data-ng-controller="TimerCtrl" class="container">

<h1 class="text-center">{{elapsedTime|asClock}}</h1>

<button data-ng-click="focus()" type="button" class="btn btn-primary btn-block btn-lg">Focus</button>
<button data-ng-click="break()" type="button" class="btn btn-success btn-block btn-lg">Break</button>
<button data-ng-click="stop()" type="button" class="btn btn-danger btn-block btn-lg">Stop</button>

</body>
</html>
